/*-- -------------------------- -->
<---           ABOUT            -->
<--- -------------------------- -*/

#about img {
    width: 50%;
    margin-bottom: 30px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 25px 15px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 25px 15px rgba(0,0,0,0.1);
}

.section-content span {
    color: var(--primary);
    font-size: .9em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

body h2 {
    font-size: 36px;
    margin-bottom: 20px;
    line-height: 1.3em;
}

body h2 span {
    color: var(--primary);
}

.section-content p {
    font-size: 1em;
    margin-bottom: 25px;
}


.circle-box:last-child {
    margin-bottom: 50px;
}

.about-button {
    background: rgb(67,183,255);
    background: -o-linear-gradient(left, rgba(67,183,255,1) 0%, rgba(0,221,246,1) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(67,183,255,1)), to(rgba(0,221,246,1)));
    background: linear-gradient(90deg, rgba(67,183,255,1) 0%, rgba(0,221,246,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#43b7ff",endColorstr="#00ddf6",GradientType=1);
    display: block;
    margin: auto;
    margin-bottom: 60px;
}

/*-- -------------------------- -->
<---           CIRCLES          -->
<--- -------------------------- -*/

.topper {
    margin-bottom: 50px;
}

.circles {
    padding-top: 50px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--primary);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    margin-bottom: 45px;
    position: relative;
}

.circle:before {
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: var(--primary);
    opacity: .6;
    z-index: -1;
}

.circle:after {
    content: '';
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: var(--primary);
    opacity: .3;
    z-index: -1;
}

.circle span {
    color: #fff;
    font-size: 2em;
}

.circle-box {
    margin-bottom: 100px;
}

.circle-box h3 {
    text-align: center;
    margin: 15px auto;
    font-size: 1.3em;
}

.circle-box p {
    text-align: center;
}

/*-- -------------------------- -->
<---            FORM            -->
<--- -------------------------- -*/

.contact-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.contact-line {
    height: 50px;
    width: 1px;
    background: var(--primary);
    margin: 0 30px 0 0;
}

.contact-info {
    width: 180px;
}

.contact-info p {
    font-size: 1em !important;
}

.contact-item svg {
    width: 60px !important;
    height: auto;
    margin-right: 20px;
}

#second-svg {
    width: 45px !important;
    margin-right: 35px;
}

.contact-left {
    margin-bottom: 80px;
}

.contact-item {
    margin-bottom: 25px;
}

.desktop-svg {
    display: none;
}

.quote {
    margin-bottom: 40px;
}

.quote:before {
    content: url("/images/blob.svg");
    position: absolute;
    height: 1000px !important;
    width: 200px !important;
    z-index: -10;
    bottom: 0px;
    right: 0px;
    opacity: .1;
}

.quote p:first-child {
    margin-bottom: 15px;
}

.quote p:nth-child(2) {
    margin-bottom: 15px;
    font-size: 1.5em;
}

.quote p:nth-child(3) {
    margin-bottom: 0px;
    font-weight: bold;
}

.quote p:nth-child(4) {
    margin-bottom: 30px;
}

#contact {
    height: auto;
    padding-top: 0;
    padding: 25px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.09);
box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.09);
    margin-bottom: 50px;
}

.contact-topper {
    font-weight: 700;
    font-size: 2.1875em;
    margin-bottom: 0px;
    position: relative;
    margin-top: 50px;
    color: #414141;
}

#contact h3 {
    width: 100%;
    margin-bottom: 25px;
    margin-top: 0;
}

.contact-topper span {
    color: var(--primary);
    display: inline-block;
    font-weight: bold;
}

/* Form */
#valley-form {
    display: relative;
    margin-top: 100px;
}

#contact input[type="text"], 
#contact input[type="email"], 
#contact input[type="tel"], 
#contact input[type="url"], 
#contact textarea, 
#contact button[type="submit"] { 
    font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; 
    border-radius: 5px;
}

#contact {
    position: relative;
    width: 100%;
    max-width: 390px;
    background: #fff;
    z-index: 20;
}

#contact h3 {
    color: #414141;
    display: block;
    font-size: 1.75em;
    font-weight: 700;
}

.form-text {
    margin: 0 0 30px 0;
    display:block;
    color: #414141;
    line-height: 1.6em;
}

form p{
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"], 
#contact input[type="email"], 
#contact input[type="tel"], 
#contact input[type="url"], 
#contact textarea {
    width:100%;
    border:1px solid #CCC;
    background:#FFF;
    margin:0 0 15px;
    padding:15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

#contact input[type="text"]:hover, 
#contact input[type="email"]:hover, 
#contact input[type="tel"]:hover, 
#contact input[type="url"]:hover, 
#contact textarea:hover {
    -webkit-transition:border-color 0.3s ease-in-out;
    -o-transition:border-color 0.3s ease-in-out;
    transition:border-color 0.3s ease-in-out;
    border:1px solid #AAA;
}

#contact textarea {
    height:100px;
    max-width:100%;
    resize:none;
    margin-bottom: 30px;
}

#contact button[type="submit"] {
    cursor:pointer;
    background: rgb(67,183,255);
    background: -o-linear-gradient(left, rgba(67,183,255,1) 0%, rgba(0,221,246,1) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(67,183,255,1)), to(rgba(0,221,246,1)));
    background: linear-gradient(90deg, rgba(67,183,255,1) 0%, rgba(0,221,246,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#43b7ff",endColorstr="#00ddf6",GradientType=1);
    display: block;
    margin-bottom: 60px;
    font-size: 1em;
}

#contact button::before {
    border-color: var(--primary);
}

#contact button::after {
    border-color: var(--primary);
}

#contact button[type="submit"]:hover {
    opacity: .6;
    -webkit-transition:background 0.3s ease-in-out;
    -webkit-transition:background-color 0.3s ease-in-out;
    -o-transition:background-color 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { 
    -webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); 
    box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
    outline:0;
    border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

.form-h4 {
    font-size: 1.2em;
}

.contact-item h2 {
    font-size: 1.3em;
    margin-bottom: 0;
}

.form-p {
    margin-bottom: 100px;
}

.form-submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

/* Tablets */
@media screen and (min-width: 500px) and (max-width: 1024px) {

    #about {
        padding-top: 100px !important;
    }

    .circle-box {
        width: 400px;
        margin: auto;
        margin-bottom: 100px;
    }

    .contact-left {
        margin: 40px auto 110px auto;
    }

    form {
        margin: auto;
    }

}

@media screen and (min-width: 1026px) {

    #about {
        padding-top: 100px !important;
    }

    #about .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    #about img {
        width: 360px;
        height: 550px;
        margin-right: 45px;
    }

    .section-content {
        width: 650px;
    }

    #circles {
        padding-bottom: 100px !important;
        position: relative;
        z-index: 1000;
    }

    .topper {
        padding-top: 100px;
    }

    .topper h2 {
        text-align: center;
    }

    .topper p {
        text-align: center;
    }

    .circles {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        position: relative;
    }

    .circles:before {
        content: '';
        position: absolute;
        width: 800px;
        left: 130px;
        top: 75px;
        z-index: -1;
        border: 1px dashed rgba(0, 105, 243, 0.1);
    }

    .circle-box {
        width: 300px;
    }

    #about-contact {
        height: 10px;
    }

    .about-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 800px;
    }

    .contact-left {
        position: relative;
        z-index: 1000;
    }

    footer {
        padding-top: 00px;
    }

    .footer-img {
        top: 150px;
    }

    #about-contact {
        position: relative;
    }

    #about-contact:before {
        content: '';
        position: absolute;
        display: block;
        height: 400px;
        width: 100%;
        bottom: -200px;
        background: #fff;
        z-index: 10;
    }
}

@media screen and (min-width: 1200px) {

    footer {
        padding-top: 100px;
    }

    .flex-group {
        padding-top: 250px;
    }

}

@media screen and (min-width: 1400px) {

    .flex-group {
        padding-top: 150px;
    }

}

@media screen and (min-width: 1996px) {

    .flex-group {
        padding-top: 350px ;
    }

    #about-contact {
        position: relative;
        -webkit-transform: translateY(300px);
            -ms-transform: translateY(300px);
                transform: translateY(300px);
        z-index: 900000;
    }

    #about-contact:before {
        bottom: 40px;
    }

    #circles {
        padding-bottom: 0 !important;
        overflow: visible;
        margin-bottom: -184px;
        z-index: 9000000;
    }

}

@media screen and (min-width: 2200px) {

    .flex-group {
        padding-top: 883px !important;
    }

    #about-contact {
        position: relative;
        -webkit-transform: translateY(543px);
            -ms-transform: translateY(543px);
                transform: translateY(543px);
        z-index: 900000;
    }

    #about-contact:before {
        bottom: 167px;
    }

    #circles {
        padding-bottom: 0 !important;
        overflow: visible;
        margin-bottom: -489px;
        z-index: 9000000;
    }

}


@media screen and (min-width: 2400px) {

    footer {
        padding-top: 600px;
    }

}

@media screen and (min-width: 2500px) {

    .flex-group {
        padding-top: 1000px !important;
    }

    #circles {
        margin-bottom: -650px;
    }

    #about-contact {
        -webkit-transform: translateY(720px);
            -ms-transform: translateY(720px);
                transform: translateY(720px);
    }

    #about-contact:before {
        bottom: 380px;
    }

    .footer-img {
        top: 31px;
    }

}

@media screen and (min-width: 2530px) {

    .flex-group {
        padding-top: 1150px !important;
    }

    #circles {
        margin-bottom: -650px;
    }

    #about-contact {
        -webkit-transform: translateY(720px);
            -ms-transform: translateY(720px);
                transform: translateY(720px);
    }

    #about-contact:before {
        bottom: 380px;
    }

    .footer-img {
        top: 31px;
    }

}

@media screen and (min-width: 2791px) {

    .flex-group {
        padding-top: 1250px !important;
    }

}

@media screen and (min-width: 3200px) {

    .flex-group {
        padding-top: 1350px !important;
    }

    #circles {
        margin-bottom: -850px;
    }

    #about-contact {
        -webkit-transform: translateY(920px);
            -ms-transform: translateY(920px);
                transform: translateY(920px);
    }

    #about-contact:before {
        bottom: 580px;
    }

    .footer-img {
        top: 31px;
    }

}

@media screen and (min-width: 3500px) {

    .flex-group {
        padding-top: 1550px !important;
    }

    #circles {
        margin-bottom: -1000px;
    }

    #about-contact {
        -webkit-transform: translateY(1090px);
            -ms-transform: translateY(1090px);
                transform: translateY(1090px);
    }

    #about-contact:before {
        bottom: 880px;
        z-index: -1;
    }

    .footer-img {
        top: 31px;
    }

    #about .container {
        position: relative;
        z-index: 9000000;
    }

}