.paper-airplane-path {
    display: none;
}

/*-- -------------------------- -->
<---          TEMPLATE          -->
<--- -------------------------- -*/

#web-dev {
    margin-top: 50px;
}

.template img {
    width: 100%;
    margin-bottom: 50px;
}

.template h2 {
    font-size: 36px;
    line-height: 1.3em;
    margin-bottom: 20px;
}

.template p {
    line-height: 1.7em;
    margin-bottom: 25px;
}

.template span {
    color: var(--primary);
    font-weight: bold;
}

.template button {
    position: relative;
    text-align: left;
    background: -o-linear-gradient(left, rgba(67,183,255,1) 0%, rgba(0,221,246,1) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(67,183,255,1)), to(rgba(0,221,246,1)));
    background: linear-gradient(90deg, rgba(67,183,255,1) 0%, rgba(0,221,246,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#43b7ff",endColorstr="#00ddf6",GradientType=1);
    padding: 12px 28px;
    font-size: 1em;
    height: 54px;
    width: 180px;
    margin-top: 35px;
    font-weight: normal;
}

.template button img {
    position: absolute;
    right: 28px;
    width: 20px;
    top: 21px;
}

.checkmark {
    padding-left: 40px;
}

.checkmark img {
    position: absolute;
    width: 20px;
    height: 20px;
    left: -30px
}

.checkmark li {
    position: relative;
    list-style: none;
    margin-bottom: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/*-- -------------------------- -->
<---       GRAPHIC DESIGN       -->
<--- -------------------------- -*/

#graphic-design ul li {
    list-style: none;
}

#graphic-design ul li h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

#graphic-design ul li img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: -30px;
}

/*-- -------------------------- -->
<---      LIFETIME UPDATES      -->
<--- -------------------------- -*/

#updates {
    background: rgba(236,248,255, .3);
    position: relative;
    z-index: 90000;
}

.template button.lifetime-button {
    background: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
}

.boxes-container {
    margin-top: 80px;
}

.box {
    width: 100%;
    max-width: 350px;
    padding: 50px 30px;
    background: #fff;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 6px;
    border-top: 4px solid var(--primary);
    -webkit-box-shadow: 0px 0px 25px -10px rgba(67,183,255,1);
        box-shadow: 0px 0px 25px -10px rgba(67,183,255,1);
}

.box p {
    margin-bottom: 0;
}

.box svg{
    width: 50px;
    height: auto;
    margin-bottom: 20px;
}

.box h3 {
    margin-bottom: 15px;
}

/*-- -------------------------- -->
<---          PRICING           -->
<--- -------------------------- -*/

#pricing {
    margin-top: 50px;
}

.price-box {
    border: 2px solid #e6f2ff;
    border-radius: 6px;
    padding: 70px 30px 30px 30px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 400px;
    margin: auto;
    margin-bottom: 50px;
    z-index: 100;
}

.price-box:nth-child(2) {
    position: relative;
    z-index: 1000;
}

.price-box h2 {
    position: absolute;
    text-align: center;
    background: #f1f8ff;
    width: 100%;
    top: 0;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 2px solid #e6f2ff;
}

.price-box h3 {
    position: relative;
    color: var(--primary);
    font-size: 4em;
    font-weight: normal;
    -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
            transform: translateX(-10px);
}

.price-box h3:before {
    content: '$';
    position: absolute;
    top: -10px;
    left: -35px;
    font-size: 1em;
    -webkit-transform: scale(.5);
        -ms-transform: scale(.5);
            transform: scale(.5);
    height: auto;
}

.price-box h3:after {
    content: '/MO';
    position: absolute;
    right: -86px;
    bottom: -15px;
    -webkit-transform: scale(.3);
        -ms-transform: scale(.3);
            transform: scale(.3);
}

.price-box ul li {
    list-style: none;
    margin-bottom: 15px;
}

.price-box ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

.price-box ul li img {
    width: 15px;
    height: 15px;
    position: absolute;
    left: -30px;
}

.price-box:nth-child(3) h3 {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
}

.price-box:nth-child(3) h3:after {
    display: none;
}

.price-box p {
    font-size: 13px !important;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.price-box p span {
    color: var(--primary) !important;
    font-weight: bold;
}

.price-box button {
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    background: rgb(67,183,255);
    background: -o-linear-gradient(left, rgba(67,183,255,1) 0%, rgba(0,221,246,1) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(67,183,255,1)), to(rgba(0,221,246,1)));
    background: linear-gradient(90deg, rgba(67,183,255,1) 0%, rgba(0,221,246,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#43b7ff",endColorstr="#00ddf6",GradientType=1);
}


/* Tablets */
@media screen and (min-width: 500px) and (max-width: 1024px) {

    /*-- -------------------------- -->
    <---      LIFETIME UPDATES      -->
    <--- -------------------------- -*/

    .section {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }

    .boxes-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    
    .box {
        width: 300px;
    }

    .template img {
        margin-bottom: 50px;
    }

}

/* Desktop */
@media screen and (min-width: 1026px) {

    /*-- -------------------------- -->
    <---      PAPER PLANE PATH      -->
    <--- -------------------------- -*/

    .paper-airplane-path {
        display: block;
        margin-top: 100px;
    }

    .line-box {
        height: 100px;
        width: 80%;
        border-left: 2px dashed rgba(100,100,100, .4);
        border-bottom: 2px dashed rgba(100,100,100, .4);
        position: relative;
        margin: auto;
    }

    .line-box:after {
        content: '';
        position: absolute;
        height: 100px;
        border-right: 2px dashed rgba(100,100,100, .4);
        right: 0;
        bottom: -100px;
        width: 10px;

    }

    .svg-div {
        -webkit-transform: scaleX(-1);
            -ms-transform: scaleX(-1);
                transform: scaleX(-1);
        position: absolute;
        width: 50px;
        height: auto;
        right: -20px;
        bottom: -170px;
    }

    .paper-airplane-path svg {
        width: 50px;
        height: auto;
        -webkit-transform: rotate(100deg);
            -ms-transform: rotate(100deg);
                transform: rotate(100deg);
    }

    /*-- -------------------------- -->
    <---          TEMPLATE          -->
    <--- -------------------------- -*/

    .template .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        max-width: 1200px;
    }

    .template .container > img {
        width: 550px;
    }

    .section-content {
        width: 540px;
    }

    .section {
        padding-top: 150px !important;
        padding-bottom: 150px !important;
    }

    .template img {
        margin-bottom: 0;;
    }

    /*-- -------------------------- -->
    <---      WEB DEVELOPMENT       -->
    <--- -------------------------- -*/

    #web-dev {
        margin-top: 100px;
    }

    #web-dev .container {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    /*-- -------------------------- -->
    <---            SEO             -->
    <--- -------------------------- -*/

    #seo .container > img {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }

    .checkmark li {
        margin-bottom: 10px;
    }

    #seo .paper-airplane-path {
        -webkit-transform: scaleX(-1);
            -ms-transform: scaleX(-1);
                transform: scaleX(-1);
        margin-top: 100px;
    }

    /*-- -------------------------- -->
    <---       GRAPHIC DESIGN       -->
    <--- -------------------------- -*/

    #graphic-design h2 {
        width: 430px;
    }

    /*-- -------------------------- -->
    <---      LIFETIME UPDATES      -->
    <--- -------------------------- -*/

    #updates.section{
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    }

    #updates h2 {
        width: 350px;
    }

    .boxes-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 650px;
        position: relative;
        z-index: 100;
        overflow: visible;
    }

    .boxes-container:after {
        content: url('/images/blob.png');
        position: absolute;
        height: 40px;
        width: 300px;
        z-index: -1;
        top: 500px;
        right: -200px;
        margin: auto;
        -webkit-transform: rotate(150deg);
            -ms-transform: rotate(150deg);
                transform: rotate(150deg);
        opacity: .08;
    }

    .box {
        width: 280px;
        margin: 30px;
        padding: 60px 30px;
    }

    .box:nth-child(1),
    .box:nth-child(3) {
        margin-right: 0;
        margin-left: 0;
        -webkit-transform: translateY(-50px);
            -ms-transform: translateY(-50px);
                transform: translateY(-50px);
    }

    .box:nth-child(3),
    .box:nth-child(4) {
        margin-top: 0;
    }

    .box:nth-child(2),
    .box:nth-child(4) {
        margin-right: 0;
    }

    #updates .section-content {
        width: 450px;
    }

    /*-- -------------------------- -->
    <---           PRICING          -->
    <--- -------------------------- -*/

    #pricing {
        height: 100px;
    }

    #pricing .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        z-index: 100;
    }

    .price-box {
        margin: 0;
        background: #fff;
        width: 300px;
        height: 500px;
    }

    .price-box:nth-child(2) {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2);
        margin: 0 22px;
        -webkit-box-shadow: 0px 0px 25px -10px rgba(67,183,255,1);
        box-shadow: 0px 0px 25px -10px rgba(67,183,255,1);
        background: #fff;
        position: relative;
        z-index: 1000;
        height: auto;
    }

    .price-box:nth-child(2) h2 {
        background: #a7ffa4;
        height: auto;
    }

    .price-box button {
        -webkit-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease;
        background: rgb(67,183,255);
        background: -o-linear-gradient(left, rgba(67,183,255,1) 0%, rgba(0,221,246,1) 100%);
        background: -webkit-gradient(linear, left top, right top, from(rgba(67,183,255,1)), to(rgba(0,221,246,1)));
        background: linear-gradient(90deg, rgba(67,183,255,1) 0%, rgba(0,221,246,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#43b7ff",endColorstr="#00ddf6",GradientType=1);
    }

    .price-box button:hover {
        border: 1px solid var(--primary);
        -webkit-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease;
        background: #fff;
    }

}

@media screen and (min-width: 2530px) {

    .footer-img {
        top: -562px;
    }

    #pricing {
        margin-bottom: -100px;
    }

}

@media screen and (min-width: 2530px) {

    .flex-group {
        padding-top: 500px !important;
    }

}

@media screen and (min-width: 2895px) {

    .flex-group {
        padding-top: 600px !important;
    }

    #pricing {
        margin-bottom: -300px;
    }

}

@media screen and (min-width: 3200px) {

    .flex-group {
        padding-top: 800px !important;
    }

    #pricing {
        margin-bottom: -500px;
    }

}

@media screen and (min-width: 3600px) {

    .flex-group {
        padding-top: 900px !important;
    }

    #pricing {
        margin-bottom: -500px;
    }

}