/*-- -------------------------- -->
<---          LANDING           -->
<--- -------------------------- -*/

#landing {
    height: 450px;
    position: relative;
    margin-bottom: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgb(0,16,153);
    background: -o-linear-gradient(305deg, rgba(0,16,153,1) 0%, rgba(58,217,255,1) 96%);
    background: linear-gradient(145deg, rgba(0,16,153,1) 0%, rgba(58,217,255,1) 96%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#001099",endColorstr="#3ad9ff",GradientType=1);
}

#landing .container {
    margin-top: 50px;
    position: relative;
    z-index: 10;
}

#landing h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
    width: 97%;
    line-height: 1.3em;
    font-weight: 800;
    color: #fff;
}

#landing h2 {
    font-size: .9em;
    width: 94%;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 1.7em;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #fff;
}

.quote-button {
    border: none;
    position: relative;
    background: #fff;
    color: #404040;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 10;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.quote-button:hover {
    border: none;
    background: rgba(255, 255, 255, .8);
    color: #000;
}

.mock-up {
    position: absolute;
    bottom: -200px;
    width: 80%;
    right: 0;
    z-index: 10;
    margin: auto;
}

.swoop {
    position: absolute;
    bottom: -2px;
    z-index: 9;
    width: 100%;
    -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
            transform: scaleX(-1);
}

/*-- -------------------------- -->
<---         WHAT WE DO         -->
<--- -------------------------- -*/

.what-we-do-topper h2 {
    color: #121212;
    font-size: 1.7em;
    font-weight: 900;
    text-align: center;
    width: 200px;
    margin: auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
    margin-top: 50px;
}

.what-we-do-topper h2 span {
    color: var(--primary);
    margin-right: 10px;
}

.what-we-do-topper h3 {
    text-align: center;
    font-size: 1.3em;
    font-weight: 900;
    margin-bottom: 50px;
}

.what-we-do-topper p {
    text-align: center;
    margin-bottom: 50px;
}

.what-we-do-topper a {
    text-decoration: none;
    color: var(--primary);
}

.what-topper {
    margin-bottom: 100px;
}

.content {
    margin-top: 50px;
}

.what-we-do-content {
    position: relative;
}

.what-we-do-content:before {
    content: url("/images/blob.svg");
    position: absolute;
    height: auto;
    z-index: -1;
    bottom: 0px;
    opacity: .1;
}

.what-we-do-content img {
    margin: 80px auto;
    display: none;
    width: 100%;
}

.item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 80px;
}

.item:last-child {
    margin-bottom: 0;
}

.item h3 {
    margin: 15px auto;
    text-align: center;
}

.item p {
    text-align: center;
}

.item svg {
    width: 70px !important;
    height: auto;
}

/*-- -------------------------- -->
<---          PRICING           -->
<--- -------------------------- -*/

.piggy-bank {
    margin-bottom: 20px;
    width: 100%;
}

.left h2 {
    font-size: 1.3em;
    margin-bottom: 25px;
}

.left h2 span {
    color: var(--primary);
}

.left-text-group {
    margin-bottom: 40px;
}

.list-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.list-item {
    margin-bottom: 50px;
    padding-left: 42px;
}

.list-item:last-child {
    margin-bottom: 0;
}

.list-item h3 {
    margin-bottom: 10px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.list-item h3:before {
    content: url("/images/check.svg");
    position: absolute;
    left: -40px;
    height: 30px;
}

/*-- -------------------------- -->
<---          PORTFOLIO         -->
<--- -------------------------- -*/

#portfolio h2 {
    color: #121212;
    font-size: 1.7em;
    font-weight: 900;
    text-align: center;
    width: 230px;
    margin: auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
}

#portfolio h2 span {
    color: var(--primary);
    margin-right: 4px;
}

.example {
    margin-bottom: 70px;
    position: relative;
    padding: 50px 25px;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 25px 15px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 25px 15px rgba(0,0,0,0.1);
    border-right: 1px solid var(--primary);
    border-top: 1px solid var(--primary);
    border-left: 1px solid var(--primary);
    border-bottom: 5px solid var(--primary);
}

.example:last-child {
    margin-bottom: 0;
}

#portfolio img {
    width: 100%;
    margin-bottom: 30px;
}

#portfolio h3 {
    margin-bottom: 0px;
}

#portfolio h4 {
    color: #999;
    opacity: .8;
    margin-bottom: 15px;
    font-weight: normal;
}

#portfolio p {
    margin-bottom: 20px;
}

.portfolio-button {
    color: #fff;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    background: rgb(67,183,255);
        background: -o-linear-gradient(left, rgba(67,183,255,1) 0%, rgba(0,221,246,1) 100%);
        background: -webkit-gradient(linear, left top, right top, from(rgba(67,183,255,1)), to(rgba(0,221,246,1)));
        background: linear-gradient(90deg, rgba(67,183,255,1) 0%, rgba(0,221,246,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#43b7ff",endColorstr="#00ddf6",GradientType=1);
}

.portfolio-button:hover {
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    color: #fff;
    border: none;
    background: rgb(67,183,255);
    background: -o-linear-gradient(left, rgba(67,183,255,1) 0%, rgba(0,221,246,1) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(67,183,255,1)), to(rgba(0,221,246,1)));
    background: linear-gradient(90deg, rgba(67,183,255,1) 0%, rgba(0,221,246,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#43b7ff",endColorstr="#00ddf6",GradientType=1);
}

/*-- -------------------------- -->
<---         WHO WE ARE         -->
<--- -------------------------- -*/

#who-we-are {
    position: relative;
    margin-bottom: 100px;
}

.who-topper h2 {
    color: #121212;
    font-size: 1.7em;
    font-weight: 900;
    text-align: center;
    width: 190px;
    margin: auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
}

.who-topper h2 span {
    color: var(--primary);
    margin-right: 4px;
}

.graphic-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 160px;
    margin: auto;
    margin-bottom: 30px;
}

.dash {
    width: 50px;
    border-bottom: 1px dashed rgba(67,183,255, .9);
}

.graphic-group img {
    width: 30px !important;
    margin-bottom: 0 !important;
}

.who-topper h3 {
    text-align: center;
    font-size: 1.3em;
    font-weight: 900;
    margin-bottom: 50px;
}

.who-topper p {
    text-align: center;
    margin-bottom: 50px;
}

.who-topper a {
    color: var(--primary);
    text-decoration: none;
}

/* Spotlight */

.partner {
    text-align: center;
    margin-bottom: 100px;
    position: relative;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.partner img {
    width: 100%;
    max-width: 290px;
    margin-bottom: 60px;
}

.partner:before {
    content: url("/images/blob-Copy.svg");
    position: absolute;
    z-index: -1;
    top: 40px;
    opacity: .9;
}

.partner:last-child {
    margin-bottom: 0px;
}

.partner h3 {
    margin-bottom: 10px;
}

.partner h4 {
    text-transform: uppercase;
    color: #838383;
    letter-spacing: .2em;
    font-weight: normal;
}

/*-- -------------------------- -->
<---          PRICING           -->
<--- -------------------------- -*/

#pricing {
    margin-top: 50px;
}

.price-box {
    border: 2px solid #e6f2ff;
    border-radius: 6px;
    padding: 70px 30px 30px 30px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 400px;
    margin: auto;
    margin-bottom: 50px;
    z-index: 500;
}

.price-box h2 {
    position: absolute;
    text-align: center;
    background: #f1f8ff;
    width: 100%;
    top: 0;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 2px solid #e6f2ff;
}

.price-box h3 {
    position: relative;
    color: var(--primary);
    font-size: 4em;
    font-weight: normal;
    -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
            transform: translateX(-10px);
}

.price-box h3:before {
    content: '$';
    position: absolute;
    top: -10px;
    left: -35px;
    font-size: 1em;
    -webkit-transform: scale(.5);
        -ms-transform: scale(.5);
            transform: scale(.5);
    height: auto;
}

.price-box h3:after {
    content: '/MO';
    position: absolute;
    right: -86px;
    bottom: -15px;
    -webkit-transform: scale(.3);
        -ms-transform: scale(.3);
            transform: scale(.3);
}

.price-box ul li {
    list-style: none;
    margin-bottom: 15px;
}

.price-box ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

.price-box ul li img {
    width: 15px;
    height: 15px;
    position: absolute;
    left: -30px;
}

.price-box:nth-child(3) h3 {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
}

.price-box:nth-child(3) h3:after {
    display: none;
}

@media screen and (min-width: 350px) and (max-width: 420px) {

    #landing {
        height: 530px;
    }

    #landing .container {
        margin-top: 100px;
    }

    .mock-up {
        bottom: -280px;
        width: 90%;
    }

}

/* Tablets */
@media screen and (min-width: 500px) and (max-width: 1025px) {

    .container {
        width: 100%;
        max-width: 700px;
    }

    .mobile-nav {
        max-width: 100%;
        width: 100%;
    }

    /*-- -------------------------- -->
    <---          LANDING           -->
    <--- -------------------------- -*/

    #landing {
        height: 800px;
    }

    #landing .container {
        margin-top: 150px;
    }

    #landing h1 {
        width: 500px;
        font-size: 3em;
    }

    #landing h2 {
        width: 400px;
        font-size: 1.3em;
        margin-bottom: 50px;
    }

    .mock-up {
        width: 600px;
        right: 0;
        bottom: -400px;
    }

    /*-- -------------------------- -->
    <---         WHAT WE DO         -->
    <--- -------------------------- -*/

    .what-topper {
        width: 600px;
        margin: auto;
        margin-bottom: 100px;
    }

    .what-we-do-topper h2 {
        font-size: 2em;
        width: 250px;
    }

    .what-we-do-content {
        width: 400px;
    }

    /*-- -------------------------- -->
    <---           PRICING          -->
    <--- -------------------------- -*/

    .piggy-bank {
        width: 400px;
        margin-top: 100px;
    }

    .left-text-group h2 {
        font-size: 2em;
    }

    .left-text-group p {
        width: 400px;
        margin-bottom: 90px;
    }

    .list-group {
        margin-top: 50px;
        position: relative;
    }

    .list-group:before {
        content: url("/images/blob.svg");
        position: absolute;
        left: -700px;
        opacity: .1;
    }

    .list-item {
        width: 330px;
    }

    /*-- -------------------------- -->
    <---         PORTFOLIO          -->
    <--- -------------------------- -*/

    #portfolio h2 {
        font-size: 2em;
        width: 290px;
    }

    #portfolio h2 span {
        color: var(--primary);
        margin-right: 10px;
    }

    .example-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .example {
        width: 100%;
        padding: 50px 25px;
        background: #fff;
        border-radius: 5px;
        -webkit-box-shadow: 0 0 40px rgba(0,0,0,.1);
        box-shadow: 0 0 40px rgba(0,0,0,.1);
        border-bottom: 5px solid var(--primary);
    }

    .example:nth-child(2),
    .example:nth-child(3) {
        width: 45%;
    }

    .example:nth-child(2) p,
    .example:nth-child(3) p {
        height: 125px;
    }

    .example:last-child {
        margin-bottom: 70px;
    }

    .example img {
        width: 80%;
    }

    /*-- -------------------------- -->
    <---         WHO WE ARE         -->
    <--- -------------------------- -*/

    .who-topper h2 {
        width: 230px;
        font-size: 2em;
    }

    .who-topper p {
        width: 600px;
        margin: auto;
        margin-bottom: 80px;
    }

}

@media screen and (min-width: 1026px) {

    /*-- -------------------------- -->
    <---            HERO            -->
    <--- -------------------------- -*/

    #landing {
        height: 800px;
        margin-bottom: 0;
    }

    #landing .container {
        width: 100%;
        margin-top: 150px;
        position: relative;
    }

    #landing h1 {
        font-size: 3em;
        width: 500px;
    }

    #landing h2 {
        width: 500px;
    }

    .mock-up {
        position: absolute;
        width: 700px;
        right: 0px;
        bottom: -270px;
    }

    .swoop {
        width: 100%;
    }

    /*-- -------------------------- -->
    <---         WHAT WE DO         -->
    <--- -------------------------- -*/

    .what-we-do-topper h2 {
        font-size: 2.5em;
        width: auto;
        width: 300px;
    }

    .what-we-do-topper p {
        width: 660px;
        margin: auto;
    }

    .what-we-do-content:before {
        display: none;
    }

    .content {
        display: inline-block;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-top: 0;
    }
    
    .item {
        width: 30%;
        margin: 0;
        margin-bottom: 0px !important;
    }

    .item p {
    }

    .item:last-child {
        margin-bottom: 50px;
    }

    /*-- -------------------------- -->
    <---           PRICING          -->
    <--- -------------------------- -*/

    #pricing {
        overflow: visible;
    }

    #pricing .container {
        max-width: 1300px;
        z-index: 100;
    }

    .price-box {
        background: #fff;
    }

    .piggy-bank {
        display: inline-block;
        margin-right: 70px;
        width: 500px;
        height: 350px;
        -webkit-transform: translateY(100px);
            -ms-transform: translateY(100px);
                transform: translateY(100px);
    }

    .left {
        display: inline-block;
        width: 600px;
    }

    .left-text-group h2 {
        font-size: 2.5em;
    }

    .list-group {
        width: 700px;
    }

    .list-group:before {
        content: url("/images/blob.svg");
        position: absolute;
        height: auto;
        z-index: -1;
        bottom: 500px;
        right: -600px;
        opacity: .1;
        height: 200px !important;
    }

    .list-item {
        width: 50%;
    }

    /*-- -------------------------- -->
    <---          PORTFOLIO         -->
    <--- -------------------------- -*/

    #portfolio .container h2 {
        font-size: 2.5em;
        width: 350px;
    }

    #portfolio h2 span {
        margin-right: 15px;
    }

    .example-group {
        margin-top: 70px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .example {
        width: 30%;
        margin-bottom: 70px !important;
    }

    .example p {
        height: 145px;
    }

    /*-- -------------------------- -->
    <---            ABOUT           -->
    <--- -------------------------- -*/

    .who-topper h2 {
        font-size: 40px;
        width: auto;
    }

    .who-topper p {
        width: 600px;
        margin: auto;
        margin-bottom: 100px;
    }

    /*-- -------------------------- -->
    <---           PRICING          -->
    <--- -------------------------- -*/

    #prices {
        margin-bottom: 100px;
        height: 100px;
    }

    #prices .container {
        z-index: 100;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .price-box {
        margin: 0;
    }

    .price-box:nth-child(2) {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2);
        margin: 0 25px;
        -webkit-box-shadow: 0px 0px 25px -10px rgba(67,183,255,1);
        box-shadow: 0px 0px 25px -10px rgba(67,183,255,1);
        background: #fff;
        z-index: 1000;
    }

    .price-box:nth-child(2) h2 {
        background: #a7ffa4;
    }
}