

/*-- -------------------------- -->
<---        Blog Pictures       -->
<--- -------------------------- -*/

pre {
    max-height: 300px;
}

.code-h2 {
    margin: 50px 0 10px;
}

.extra-margin {
    margin-top: 20px;
}

.blog-link {
    text-decoration: underline;
    color: var(--primary);
}

a {
    text-decoration: none;
}

#side-bar .button-solid {
    width: 140px;
}

.button-solid:hover {
    background: transparent;
}

.recent-posts__item h2 a {
    font-weight: bold;
    color: #222;
}

/* Pictures */

.christmas {
    background: url("../images/christmas.jpg");
    background-size: cover;
}

.paint-brick-wall {
    background: url("../images/painting-brick-wall.jpg");
    background-size: cover;
}

.resume {
    background: url("../images/resume.jpg");
    background-size: cover;
}

.kitchen-cabinets {
    background: url("../images/kitchen-cabinets.jpg");
    background-size: cover;
}

.distressed {
    background: url("../images/distressed-furniture.jpg");
    background-size: cover;
}

.deck {
    background: url("../images/deck.jpg");
    background-size: cover;
}

p, li {
	font-family: 'Montserrat', sans-serif;
	color: #212121;
    margin: 0;
    line-height: 1.8em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
    margin: 0;
    color: #222;
}

.button-solid {
    background: var(--primary);
    padding: 15px 30px !important;
    height: auto;
}

.p-image {
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 1000;
    margin:  0 15px 0 0 !important;
}

.p-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/*-- -------------------------- -->
<---           Header           -->
<--- -------------------------- -*/

#header {
    padding-top: 100px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url('../images/landscape.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 60% !important;
    position: relative;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .5;
}

#header p {
    margin: 0;
    color: #fff;
    position: relative;
    z-index: 5;
}

body.dark-mode #header{
    background: url("../images/night.jpg");
    background-size: cover;
}

body.dark-mode #header:before {
    display: none;
}



/*-- -------------------------- -->
<---            Blog            -->
<--- -------------------------- -*/

.ads {
    padding: 0 2%;
    position: relative;
    z-index: 9000000;
    display: none;
}

.buffer {
    height: 50px;
    width: 100%;
}

body.dark-mode h3 {
    color: #fff !important;
}

.blog {
    margin-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.blog__post--header img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.main-image {
    height: 175px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    border-radius: 5px;
}

.blog__post--header h1 {
    color: #343434;
    font-size: 28px;
    margin-bottom: 30px;
    line-height: 1.2em;
}

body.dark-mode .blog__post--header h1 {
    color: #fafafa;
}

.blog__post--header h1 {
    color: #222;
}

.blog__post--info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
}

.blog__post--info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 0;
    margin-right: 18px;
}

.blog__post--info h3 {
    font-size: 12px;
    color: #222;
    text-transform: uppercase;
    font-weight: 500;
    width: 150px;
    margin: 0 !important;
}

.blog__post--profile a {
    text-decoration: none;
    font-size: 10px;
    color: #959595;
    text-transform: uppercase;
    font-weight: 500;
}

.line {
    width: 100%;
    background: var(--primary);
    height: 1px;
    margin-bottom: 30px;
}

.blog__post p {
    margin-bottom: 25px;
}

.blog-h3 {
    margin-bottom: 20px;
    font-size: 1.7em;
    line-height: 1.2em;
    margin-top: 50px;
    padding-left: 20px;
    border-left: 4px solid var(--primary);
}

ul {
    padding-left: 20px;
}

li h3 {
    margin-bottom: 10px;
}

.blog-img {
    width: 100%;
    margin: 50px 0
}

.long-image-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.long {
    width: 32%;
}

/*-- -------------------------- -->
<---          Side Bar          -->
<--- -------------------------- -*/

#side-bar {
    padding-bottom: 100px;
}

.popular {
    color: #383838;
    width: 180px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 35px;
}

.popular:after {
    content: '';
    position: absolute;
    right: -6px;
    width: 20px;
    height: 2px;
    background: var(--primary);
    top: 15px;
}

.recent-posts__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
}

.recent-posts__item__content a:hover {
    color: var(--primary);
}

.recent-posts__item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

.recent-posts__item h2 {
    font-size: 14px;
    margin-bottom: 10px;
}

.recent-posts__item h2:hover {
    color: var(--primary);
}

.recent-posts__item h2 a {
    text-decoration: none;
}

.recent-posts__item p {
    font-family: 'Poppins', sans-serif;
    font-size: 11px !important;
    color: #a0a0a0;
    text-transform: uppercase;
    font-weight: 500;
}

a img {
    height: 40px;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 0 !important;
}

.bbb-image {
    width: 250px;
    height: auto;
    margin-bottom: 30px !important;
}

.image-icon-footer {
    width: 15px;
    height: auto;
    margin-bottom: 0 !important;
    margin-right: 15px;
}

body.dark-mode {
    background: #000;
}

body.dark-mode #side-bar h2 a {
    color: #fff !important;
}

body.dark-mode .months p {
    color: #000 !important;
}

.dark-side {
    display: none !important;
}

body.dark-mode .dark-side {
    display: block !important;
}

body.dark-mode .light-side {
    display: none !important;
}

.blog-h3 {
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
}

body.dark-mode .blog__post h4 {
    color: var(--primary);
}

.months {
    margin-bottom: 100px;
}

.months p {
    color: #000 !important;
    font-size: .6em !important;
    background: rgba(245, 245, 245, .8);
    padding: 5px;
    font-weight: bold;
}

.months h3 {
    display: block;
    width: 100%;
    background: var(--primary);
    padding: 5px 10px;
    margin-bottom: 20px;
    color: #fff;
}

.months a {
    font-weight: normal;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(235, 235, 235, .6);
    width: 100%;
    display: block;
}

body.dark-mode .months h3 {
    color: #222;
}

body.dark-mode .months a {
    color: #f5f5f5;
}

.months a:hover {
    cursor: pointer;
    background: rgba(235, 235, 235, .2);
}

strong {
    color: var(--primary);
}

@media screen and (min-width: 750px) and (max-width: 1000px) {

    .button-solid {
        background: var(--primary);
    }

    .ads {
        display: block;
    }

    #header {
        height: 200px;
        background-position: bottom;
    }

    #header p {
        font-size: 2.5em !important;
        height: auto;
    }

    main {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 2fr 280px;
        grid-template-columns: 2fr 250px;
        grid-gap: 20px;
    }

    .main-image {
        height: 212px;
    }

    #blog {
        padding-bottom: 80px;
        padding-top: 50px;
    }

    #side-bar {
        margin-top: 90px;
        padding: 0 36px 0px 0;
    }

}

@media screen and (min-width: 1001px) {


    .ads {
        display: block;
        height: 300px;
        position: relative;
        z-index: 9000000;
    }

    main {
        max-width: 1200px;
        margin: auto;
    }

    header {
        background: transparent;
    }

    #header {
        height: 400px;
            background-attachment: fixed !important;
            background-position: center 130% !important;
    }

    .blog__post--header h1 {
        font-size: 3em;
        margin-top: 30px;
    }

    .recent-posts button {
        margin-bottom: 50px;
    }

    #header p {
        font-size: 3em !important;
        width: 100%;
        max-width: 1200px;
        margin: auto;
        height: auto;
        -webkit-transform: translateY(50px);
            -ms-transform: translateY(50px);
                transform: translateY(50px);
    }

    main {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 2fr 310px;
        grid-template-columns: 2fr 310px;
    }

    .main-image {
        height: 400px;
    }

    #side-bar {
        margin-top: 50px;
        padding: 0 36px 0 0;
    }

    #blog {
        padding-top: 80px;
        max-width: 860px;
        padding-bottom: 400px;
    }

    .blog-h3 {
        font-size: 2em;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #side-bar {
        margin-top: 120px;
    }

    .popular:after {
        top: 12px;
    }

    main {
        position: relative;
        z-index: 2;
    }

    footer {
        margin-top: -500px;
        z-index: 0;
    }

    .flex-group {
        padding-top: 400px;
    }

    .recent-posts button.home {
        margin-bottom: 20px !important;
    }

}

@media screen and (min-width: 1200px) {

    .flex-group {
        padding-top: 100px;
    }

}

@media screen and (min-width: 1400px) {

    .flex-group {
        padding-top: 0px;
        margin-top: 0;
    }

}

@media screen and (min-width: 1500px) {

    #blog {
        padding-bottom: 300px;
    }

}

@media screen and (min-width: 1500px) {

    #blog {
        padding-bottom: 200px;
    }

}

@media screen and (min-width: 2201px) {

    .flex-group {
        padding-top: 200px;
        margin-top: 0;
    }

}

@media screen and (min-width: 3001px) {

    nav {
        z-index: 900000;
    }


    #header {
        position: relative;
        z-index: 200;
    }

    #blog {
        padding-bottom: 100px;
    }

    .flex-group {
        padding-top: 500px !important;
    }

}

@media screen and (min-width: 3164px) {

    #blog {
        margin-bottom: -150px;
    }


    .flex-group {
        padding-top: 600px !important;
    }

}

@media screen and (min-width: 3450px) {

    #blog {
        margin-bottom: -350px;
    }


    .flex-group {
        padding-top: 700px !important;
    }

}

@media screen and (min-width: 3700px) {

    #blog {
        margin-bottom: -450px;
    }


    .flex-group {
        padding-top: 800px !important;
    }

}